.gitignore
Clothing ToDo
Design Choices
David Notes
model_checkpoint.pth
TSNE/Images/
TSNE/similarity_tsne.eps
TSNE/Images.zip
TSNE/Testing/Images.zip
TSNE/Testing/Images/
TSNE/Training/Images.zip
TSNE/Training/Images/
TSNE/Training/similarity_tsne.eps
TrainingHistory/TrainValHistory.eps
